/* Allmänna stilar */
body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    color: darkblue;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Rubrikstil */
h1 {
    color: red;
    font-size: 3em;
    margin-top: 20px;
}

/* Textstil */
p {
    font-size: 1.2em;
    margin: 10px;
}
